[MESSAGES CONTROL]
disable=
    inherit-non-class,
    import-error,
    no-name-in-module,
    not-callable,
    consider-using-from-import,
    invalid-name,
    ; unused-variable,
    wrong-import-order,
    ungrouped-imports,
    line-too-long,
    redefined-outer-name,
    wildcard-import,
    unnecessary-lambda,
    duplicate-code,
    too-many-locals,
    too-many-instance-attributes,
